/* General styles */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

a {
  color: #0087cc;
  text-decoration: none;
  border-bottom: 2px solid #0087cc;
}

a:hover {
  background-color: #0087cc;
  color: white;
}

button {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  color: white;
  background-color: #0087cc;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #006699;
}


/* Hero */

.hero {
  background-color: #0087cc;
  color: white;
  text-align: center;
  padding: 5rem 1rem;
}

.hero h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.hero button {
  font-size: 1.5rem;
}

/* Footer */

footer {
  background-color: #333;
  color: #f9f9f9;
  text-align: center;
  padding: 2rem;
}

footer p {
  margin-bottom: 0;
}
